body {
    background: #f5d9df;
    font-family: nunito;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

/* Specificity wins out on brand, but not the rest of the navbar.*/
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

/* hover attribute only changes attributes when you hover it with a cursor */
#mainNavbar .nav-link:hover {
    color: white;
}

#headingGroup span {
    color: red;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

/* change the headingGroup font size when the screen is 1200px */
@media (max-width:  1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size:3rem;
    }
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.75;
}

.contentMargin {
    margin-top: 50px;
    margin-bottom: 50px;
}
