<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Yelp Camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collpase navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/campgrounds">Campgrounds</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <!-- logic for which buttons to show-->
                <!-- if there isn't a user logged in, only show register and login buttons-->
                    <% if(!currentUser) {%>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    <!-- if user is logged in, show their username and logout button -->                  
                    <%} else {%>
                        <li><a href="#">Signed in as <%= currentUser.username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>