<% include partials/header.ejs%>
<!-- path to app.css will be served by express. -->
<link rel="stylesheet" type="text/css" href="app.css">
<h1>You fell in love with: <%= thing%></h1>

<!-- Must wrap all javascript lines in <% %> -->
<% if(thing.toLowerCase() == "leia") { %>
        <p>Good Choice. Leia is the best.</p>
<%  } %>

<p>P.S. this is the love.ejs file.</p>

<% include partials/footer.ejs%>

<!-- different types of javascript tags in ejs

// use this when there is no logic, just displaying things.
<%= %>

// use this to escape any logic.
<% %>

<%- %>

-->