<% include partials/header%>
<h1>Posts Page</h1>

<% for(var i = 0; i < posts.length; i++) { %>
<li>
    <%= posts[i].title %> - <strong><%= posts[i].author %></strong>
</li>
<%} %>

<!-- the forEach loop is more common and I like it better than the traditional for loop. -->
<% posts.forEach(function(post){ %>
<li>
    <%= post.title %> - <strong><%= post.author %> </strong>
</li>
<%}) %>

<% include partials/footer%>
