<%include partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>

    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>
    </div>

    <div class="row text-center" style="display:flex; flex-wrap: wrap">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
                <!-- close class thumbnail-->
            </div>
        </div>

        <%}) %>
    </div>


    <!-- page container div is closed in the footer -->
    <%include partials/footer%>