<%include partials/header%>

<div class="container">
    <h1><%= campground.name %></h1>

    <img src="<%= campground.image%>" alt="">

    <p><%= campground.description%></p>


    <!-- page container div is closed in the footer -->
    <%include partials/footer%>