<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"> Edit <%= blog.title %></div>
    <!-- ?_method=PUT is a method override since html forms only support GET/POST with npm package "method-override" -->
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" value="<%=blog.title%>">
        </div>
        <div class="field">
                <label for="">Image</label>
            <input type="text" name="blog[image]" id="" value="<%=blog.image%>">
        </div>
        <div class="field">
                <label for="">Blog Content</label>
                <textarea name="blog[body]" ><%=blog.body%></textarea>
        </div>
        <button class="ui primary basic button">Submit</button>
    </form>
</div>

<% include partials/header %>