<% include partials/header%>

<div class="ui main text container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <!-- loop over blog posts from the DB -->
            <% blogs.forEach(function(blog) { %>
            <div class="item">
                <div class="image">
                    <img src="<%= blog.image %>" alt="">
                </div>
                <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <!-- convert crazy mongo date to something easier to read -->
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <!-- dash ( - ) rather than equals ( = ) renders html-->
                        <!-- substring() limits how many characters are shown.  -->
                        <div class="description">
                            <p><%- blog.body.substring(0,100) %>...</p>
                        </div>
                        <div class="extra">
                                <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">Read More<i class="right chevron icon"></i></a>
                        </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>


<% include partials/footer%>