<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"> New Blog Post</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="blog[title]" id="" placeholder="title">
        </div>
        <div class="field">
                <label for="">Image</label>
            <input type="text" name="blog[image]" id="" placeholder="image">
        </div>
        <div class="field">
                <label for="">Blog Content</label>
                <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui primary basic button">Submit</button>
    </form>
</div>

<% include partials/header %>