<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header"><%= blog.title %> </div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image"src="<%= blog.image %>" alt="">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <!-- the dash tells the rendering engine to render html -->
                <p><%- blog.body %></p>
            </div>
            <!-- id="delete" used in app.css to bring buttons on the same line -->
            <form id="delete" action="/blogs/<%= blog._id%>/edit" method="GET">
                <button class="ui yellow basic button">Edit</button>
            </form>
            <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include partials/header %>