<h1>Friends list goes here</h1>

<p>my friends are </p>
<% friends.forEach(function(friend) {%>
<li>
    <%= friend %>
</li>
<%})%>

<form action="/friends" method="POST">
    <input type="text" name="name" placeholder="New Friend Name">
    <button>Add Friend</button>
</form>