/* main.css */

/* style images inside of the thumbnail class*/
.thumbnail img {
    width: 100%;
}

/* style components inside of the thumbnail class*/
.thumbnail {
    padding: 0;
}

/* style caption-full components inside of the thumbnail class */
.thumbnail .caption-full {
    padding: 9px;
} 