<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- path to app.css will be served by express. Needs the /<name of file> since the include statments in the templates use particals/header.ejs-->
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>