li {
    /*Hexadecimal colors*/
    color: #FF0000;
}
h1 {
    /*RGB colors*/
    color: rgb(100,0,100);
 /*   border-color: red;
    border-width: 5px;
    border-style: solid;
*/
    border: 3px solid black;
}
h4 {
    color: blue;
}
/*
body {
    background: url(https://entropymag.org/wp-content/uploads/2014/10/outer-space-wallpaper-pictures.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/
div {
    background: #3498db;
}

p {
    color: ecf0f1;
}