

body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #0000FF;
}

p {
    background-color: yellow;
}

.hello {
    background-color: white;
}

#special {
    border: 2px rgb(0,0,255) solid;
}

div p {
    font-size: 25px;
}

input[type="text"], textarea {

    background-color : grey;

}

div:nth-of-type(3) p {
    background: pink;
}

div:nth-of-type(3) p:nth-of-type(2){
    border: 5px solid white;
}

div em {
    font-size: 20px;
    color: white
}

input[type=checkbox]:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special::first-letter {
    font-size: 100px;
    color: green;
}

h1:hover {
    color: blue;
}

a:visited {
    color: grey;
}