body {
    background: orange;
}

div {
    background: purple
}

li {
    border: solid 2px black;
}

.completed {
    text-decoration: line-through;
}

/* color every other entry*/
li:nth-of-type(odd) {
    background: grey;
}

/* color every other entry*/
li:nth-of-type(even) {
    background: white;
}