<%include ../partials/header%>

<div class="container">
    <h1><%= campground.name %></h1>

    <img src="<%= campground.image%>" alt="">

    <p><%= campground.description%></p>

    <!-- add a button to go to the new comment form -->
    <p>
        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
    </p>
    <!-- loop through comments and print out content -->
    <% campground.comments.forEach(function(comment) { %>
        <p><strong><%= comment.author %></strong> - <%= comment.text%></p>
    <%})%>
    <!-- page container div is closed in the footer -->
    <%include ../partials/footer%>