body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir"
}

/* grab the square class from html*/
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    /*not supported by all browsers*/
    transition: background 0.6s;
    /* webkit to support Safari*/
    --webkit-transition: background 0.6s;
    /*Moz to support Mozilla*/
    -moz-transition: background 0.6s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    line-height: 1.1;
    padding: 20px 0;
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    text-transform: uppercase;
    background: none;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#message {
    display: inline-block;
    width: 20%;
}