body {
    font-family: 'Roboto', sans-serif;
    /*adding gradient background from uigradient.com*/
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.fa-plus {
    float: right;
}

#container {
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    background: #f7f7f7;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #667
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0, 0);
}

/*These styles will only apply when input is focused*/
input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

/* give a different color to every other li*/
li:nth-child(2n) {
    background: #f7f7f7;
}
/* Class to be toggled on and off by JS for completing tasks*/
.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    /* 10px padding top/bottom, 20px padding left/right */
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}