<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <!-- overriding the method to use PUT rather than POST-->
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <!-- name attribute is what is grabbed by the req.body on the backend.-->
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name%>">
                </div>
                <div class="form-group">
                    <!-- wrapping name with campground[] to serialize the campground object and needs only one argument on the back end req.body.campground -->
                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image%>">
                </div>
                <div class="form-group">
                <input class="form-control" type="text" name="campground[description]" value="<%= campground.description%>">
            </div>
                <div class="form-group">
                </div>
                <button class="btn btn-lg btn-primary btn-default">Go!</button>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer%>