<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <!-- name attribute is what is grabbed by the req.body on the backend.-->
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
                <div class="form-group">
                </div>
                <button class="btn btn-lg btn-primary btn-default">Go!</button>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer%>