<%include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image%>" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <!-- since class="pull-..." isn't defined, it automatically pull left -->
                    <!-- coming back for the a tag to be link to actual campground website -->
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description%></p>
                    <p>Submitted by <em><%= campground.author.username%></em></p>
                    <!-- currentUser is pulled from app.js res.locals.currentUser -->
                    <!-- if user is logged in and the author id equals current user, then proceed. this shortciruits an error-->
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) {%>
                    <a class="btn btn-default btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                    <!-- using form for method override-->
                    <form id="delete-form" action="/campgrounds/<%= campground._id%>?_method=delete" method="POST">
                        <!-- div doesn't work. must be button-->
                        <button class="btn btn-default btn-danger">Delete</button>
                    </form>
                    <%}%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <!-- add a button to go to the new comment form -->
                    <p>
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New
                    Comment</a>
                    </p>
                </div>
                <hr>
                <!-- loop through comments and print out content -->
                <% campground.comments.forEach(function(comment) { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 days ago</span>
                        <p><%= comment.text%></p>
                    </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                    <form id="delete-form" action="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                    </form>
                    <%}%>
                </div>
                <%})%>
            </div>
        </div>
    </div>


    <!-- page container div is closed in the footer -->
    <%include ../partials/footer%>