<%include partials/header%>

<div class="container">
    <h1><%= campground.name %></h1>

    <img src="<%= campground.image%>" alt="">

    <p><%= campground.description%></p>

    <!-- loop through comments and print out content -->
    <% campground.comments.forEach(function(comment) { %>
        <p><strong><%= comment.author %></strong> - <%= comment.text%></p>
    <%})%>
    <!-- page container div is closed in the footer -->
    <%include partials/footer%>