<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Pull in Semantic UI CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- Pull in custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>

    </div>