<%include ./partials/header%>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Login" name="" id="">
</form>

<%include ./partials/footer%>