<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Movie Titles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>

<body>
    <h1>Movies</h1>
    <ul>
        <% results["Search"].forEach(function(movie) { %>
        <li><strong><%= movie["Title"] %></strong> - <%= movie["Year"]%></li>
        <% }) %>
        <br>
    </ul>
    <form action="/" method="GET">
        <input type="submit" name="" id="" value="Back to Search">
    </form>

</body>

</html>