body {
    font-family: 'Source Sans Pro';
    border: #bdc3c7 solid 20px;
    width: 66%;
    margin: 20px auto;
    padding: 20px;
    font-weight: 700;
}

/* Date class in the paragraph element*/
.date {
    color: #3498db;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem;
}
.post {
    margin-bottom: 20px;
}
.block {
    border-left: #bdc3c7 solid 5px;
    padding-left: 5px;
}
.style1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}