h1 {
    text-align: center;
}

/*set the table class to center on page with auto margins*/
table {
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
td {
    width: 100px;
    height: 100px;
}

