p {

/*Content - Width and Height*/

/* 50% of the parent element, in this case the body*/
width: 50%;
/*Border*/

border: 2px solid blue;

/*Padding*/

/*padding: 10px;*/
padding-left: 40px;

/*Margin*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/* top, right, botton, left*/
/*margin: 20px 40px 500px 100px;*/
/*margin: 0 auto 0 auto;*/
/*sets the top and botom to zero and the left/right margins to auto/centered*/
margin: 0 auto;
margin: 50px 20px;
}




