img {
 width: 30%;   
 /* floats to the left and removes the white spaces */
 float: left;

 /* 1.66% provides even pacing between the photos and the browser edge.
 
 The math for this works out to where the images are 30% of the screen, leaving 10%. 
 There are six sides to create margins for, the right and left of each image. Meaning,
 the remaining 10% is divided by 6 to give 1.66% between the right and left margins of 
 each image element.*/
 margin: 1.66%;
}

h1 {
    font-family: Raleway;
    /* Will allow the text to be in line with images.*/
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
}