<% include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Comment</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <!-- name attribute is what is grabbed by the req.body on the backend.-->
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text%>">
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
                <button class="btn btn-lg btn-primary btn-default">Submit!</button>
            </form>
        </div>
    </div>
</div>


<% include ../partials/footer%>