/* 23-blog/public/stylesheets/app.css */

/* Select icons who have the class, "icon" */
i.icon {
    /* Make icon 2x size the default */
    font-size: 2em;
}

/* Select containers that also have the main class applied. */
.container.main {
    margin-top: 7em;
}

h1 {
    margin-top: 2em;
}

#delete {
    display: inline;
}