<h1> Register </h1>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

<form action="/register" method="POST">
    <input type="text" name="username" id="" placeholder="username" required>
    <input type="password" name="password" id="" placeholder="password" required>
    <button>Submit</button>
</form>